---

- name: GENERATE SNMP CONFIGS USING JINJA2 - AMERICAS
  hosts: AMER
  connection: local
  gather_facts: false

  tasks:

    - name: CREATE CONFIGS DIRECTORY FOR RESULTS
      ansible.builtin.file:
        path: ./configs
        state: directory

    - name: GENERATE IOS SNMP CONFIGURATIONS
      ansible.builtin.template:
         src: ios-snmpv2.j2
         dest: "./configs/{{ inventory_hostname }}-snmp.cfg"

- name: GENERATE SNMP CONFIGS USING JINJA2 - EMEA
  hosts: EMEA
  connection: local
  gather_facts: false

  tasks:

    - name: GENERATE JUNOS SNMP CONFIGURATIONS
      ansible.builtin.template:
        src: junos-snmpv2.j2
        dest: "./configs/{{ inventory_hostname }}-snmp.cfg"
